.about {
  margin: 0;
  .first-half {
    @include margin-top(30px);
  }
  .second-half {
    @include margin-top(30px);
  }
  &-first-content {
    margin: 0;
    padding: 0;
    max-width: 530px;
  }

  &-second-content {
    margin: 0;
    padding: 0;
    max-width: 530px;
  }

  &-notes {
    a {
      text-decoration: underline;
      color: $orange;
    }
  }

  &-first-image {
    @include margin-top(80px);

    img {
      width: 100%;
      height: auto;
      max-height: 540px;
    }
  }

  &-second-image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      max-height: 260px;
    }
  }

  &__why-collect-plus {
    @include margin-bottom(20px);
    &-title {
      color: $orange;
      $font-size-max: 40px;
      $font-size-min: 30px;
      @include fluid-attr(font-size, $font-size-min, $font-size-max);
      @include margin-bottom(20px);
    }
    &__card {

      &-image {
        max-width: 100%;
        max-height: 200px;
        vertical-align: middle;
      }

      &-subtitle {
        @include margin-top(10px);
        @include margin-bottom(10px);
        font-weight: 600;
      }

      &-description {
        $font-size-max: 20px;
        $font-size-min: 16px;
        color: $gray-500;
        font-weight: $font-weight-100;
        @include padding-right(10px);
        @include fluid-attr(font-size, $font-size-min, $font-size-max);
      }
    }
  }
}
