.blog-post {
  margin: 0;
  padding: 0;

  .post-body-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
  }

  &-navigation {
    @include margin(30px 0);

  }

  &__header {
    width: 100%;
    text-align: center;
    &-date {
      color: $orange;
      font-weight: 600;
    }
  }

  &__body {
    @include margin-top(40px);
    h1 {
      color: $orange;
      @include font-size(40px);
      @include margin-bottom(20px);
    }

    .product__title {
      color: $black;
      text-decoration: none;
    }

    .product-header__title {
      color: $black;
    }
    .product-header__title {
      color: $black;
      text-decoration: none;
    }

    img {
      max-width: 100%;
      margin: 0 auto;
    }

    a {
      color: $orange;
      text-decoration: underline;
    }
    p,
    span,
    a {
      @include font-size(20px);
      @include margin-bottom(20px);
      font-weight: 100;
    }
  }
}
