.contact {
  margin: 0;
  .first-half {
    @include margin-top(30px);
    @include margin-bottom(30px);
  }
  .second-half {
    @include margin-top(30px);
  }
  &-first-content {
    margin: 0;
    padding: 0;
    max-width: 530px;
  }

  &-first-image {
    $min-height: 250px;
    $max-height: 350px;
    height: 100%;
    background-position: center;
    background-size: cover;
    @include fluid-attr(min-height, $min-height, $max-height);

    @include media-breakpoint-up(sm) {
      min-height: unset;
    }
  }
}
