.cookies-policy {
  .container-medium {
    @include padding(30px 0);
  }
  h2 {
    $min-font-size: 25px;
    $max-font-size: 35px;
    color: $orange;
    @include fluid-attr(font-size, $min-font-size, $max-font-size);
  }
  p,
  td,
  li,
  th {
    color: $gray-500;
  }
  p {
    @include margin-bottom(20px);
  }
  ul {
    @include padding-left(20px);
    li {
      list-style-type: disc;
    }
  }
  .table-wrapper {
    overflow-x: auto;
  }
  table {
    @include margin-bottom(20px);
    min-width: 900px;
    thead,
    tbody,
    td,
    th{
      border: 1px solid $gray-500;
    }
    td {
      @include padding(10px);
    }
  }
}
