.help-and-advice {
  margin: 0;
.image--layout {
  $min-height: 300px;
  $max-height: 500px;
  @include padding-bottom(60px);
  @include fluid-attr(min-height, $min-height, $max-height);
  @include media-breakpoint-up(lg) {
    min-height: unset;
  }
}
  .container-medium {

    &:nth-child(2) {
      @include margin-top(50px);
    }
  }
  &__content {
    padding: 0;
    @include margin-bottom(40px);
    @include media-breakpoint-up(lg) {
      @include padding-right(20px);
    }
    h1 {
      @include font-size(40px);
      @include margin-bottom(10px);
      line-height: 1.2;
      color: $orange;
    }

    a {
      color: orange;
      text-decoration: underline;
    }

    ul {
      @include padding-left(20px);
      color: $gray-500;
      li {
        list-style-type: disc;
      }
    }

    p {
      color: $gray-500;
      @include font-size(18px);
      @include media-breakpoint-up(sm) {
        @include font-size(20px);
      }
    }
  }

  &-image {
    height: 100%;
    background-size: cover;
    background-position: center;
    img {
      width: 100%;
      height: auto;
      max-height: 749px;
    }
  }
}
