.home {
  &__find-a-store {
    width: 100%;
    display: block;
    z-index: 1000;
  }
  &__trust-pilot-title {
    @include margin-top(40px);
    @include title-border();
    color: $gray-500;
    $max-font-size: 40px;
    $min-font-size: 30px;
    @include fluid-attr(font-size, $min-font-size, $max-font-size);
  }
  &__trust-pilot-description {
    $min-font-size: 18px;
    $max-font-size: 20px;
    @include fluid-attr(font-size, $min-font-size, $max-font-size);
    color: $gray-500;
  }
  &__feedback {
    width: 100%;
    background: linear-gradient($orange 59%, #fff 41%);
    @include padding-bottom(30px);
    height: auto;
  }
}
