.returns {
  $min-height: 400px;
  $max-height: 725px;
  @include fluid-attr(height, $min-height, $max-height);
  &__benefits {
    @include padding(50px 0);
    .benefits--layout {
      @include media-breakpoint-up(sm) {
        @include padding-right(50px);
      }
    }
    &-title {
      color: $orange;
      font-weight: 600;
      @include margin-bottom(20px);
    }
    &-description {
      color: $gray-500;
      font-weight: 100;
      line-height: 1.2;
      span {
        color: $orange;
        cursor: pointer;
      }
    }
    &__list {
      list-style-type: disc;
      @include padding-left(15px);
      &-item {
        color: $gray-500;
        font-weight: 100;
        line-height: 1.2;
      }
    }
  }
}
