.sitemap {
  margin: 0;
  @include padding(50px 0);

  &-img {
    background-image: url("/headers/sitemap-side.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    $min-height: 300px;
    $max-height: 400px;

    @include fluid-attr(min-height, $min-height, $max-height);
  }
  &-list {
    li {
      cursor: pointer;
      color: $gray-500;
      position: relative;
      width: auto;
      display: block;
      white-space: pre-wrap;
      font-weight: $font-weight-100;
      transition: color ease-in-out .5s;

      &:hover {
        transition: color ease-in-out .5s;
        color: $orange;
      }
      //@mixin stripe-bottom($width) {
      //  position: absolute;
      //  content: '';
      //  width: $width;
      //  display: inline;
      //  height: 2px;
      //  left: 0;
      //  bottom: -2px;
      //  background: $yellow;
      //  transition: width ease-in-out .5s;
      //}
      //&:after {
      //  @include stripe-bottom(0px);
      //}
      //
      //&:hover {
      //  &:after {
      //    @include stripe-bottom(60%);
      //  }
      //}
    }
  }
}
