.terms-and-conditions {
  margin: 0;
  padding: 0;

  p,li {
    color: $gray-500;
  }

  .container-medium {
    @include padding(30px 20px);
  }

  &-title {
    $min-font-size: 30px;
    $max-font-size: 40px;
    text-align: center;
    color: $orange;
    @include fluid-attr(font-size, $min-font-size, $max-font-size);
    @include margin-bottom(20px);
  }

  &-subtitle {
    $min-font-size: 25px;
    $max-font-size: 35px;
    color: $orange;
    @include fluid-attr(font-size, $min-font-size, $max-font-size);
    @include margin(10px 0);
  }

  p {
    @include padding-left(0);
  }
  a {
    text-decoration: underline;
    color: $orange;
  }
  ol {
    @include padding-left(30px);
    li {
      list-style-type: decimal;
    }
  }
}
