.blog-card-preview--layout {
  @include padding-bottom(15px);
  &:first-child {
    //@include padding(0 10px);
    @include media-breakpoint-up(sm) {
      padding-top: 0;
      padding-bottom: 0;
      @include padding-right(15px);
    }
  }

  &:nth-child(2) {
    @include media-breakpoint-up(sm) {
      @include padding-left(15px);
    }
    @include media-breakpoint-up(md) {
      padding-top: 0;
      padding-bottom: 0;
      @include padding(0 7.5px);
    }
  }

  &:nth-child(3) {
    @include media-breakpoint-up(sm) {
      @include padding-right(15px);
    }
    @include media-breakpoint-up(md) {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
      @include padding-left(15px);
    }
  }
}
.blog-card-preview {
  background-color: $white;
  text-align: center;

  &__image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      background: rgba(0,0,0,.10);
      transition: all ease-in-out .5s;
      width: 100%;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
    }

    &:hover {
      .blog-card-preview__image-image {
        transform: scale(1.2);
        transition: all ease-in-out .5s;
      }
      &:after {
        transition: all ease-in-out .5s;
      }
    }
    &-image {
      width: 100%;
      $min-height: 200px;
      $max-height: 300px;
      background-position: center;
      background-size: cover;
      transition: all ease-in-out .5s;
      @include fluid-attr(height, $min-height, $max-height);
    }
  }

  &__content {
    @include padding(0 10px);
    &-title {
      @include font-size(34px);
      @include margin-top(20px);
      font-weight: $font-weight-600;
    }

    &-description {
      @include margin-bottom(20px);
    }
  }

  &__link {
    @include padding-bottom(20px);
  }
}
