.blogs-section {
  margin: 0;
  @include padding-top(20px);

  &__title {
    @include margin-bottom(10px);

    &-text {
      color: $white;
      @include font-size(45px);
      @include title-border();
    }
  }
}
