
.blog-post-preview--layout {
  &:first-child {
    @include media-breakpoint-up(sm) {
      @include padding-right(20px);
    }
  }

  &:last-child {
    @include media-breakpoint-up(sm) {
      @include padding-right(20px);
    }
  }
  &:nth-child(even) {
    padding-right: 0;
    padding-left: 0;
    @include media-breakpoint-up(sm) {
      @include padding-right(20px);
    }
  }
}
.blog-post-preview {
  margin: 0;
  padding: 0;
  $max-column-width: 600px;

  &--layout {
    @include padding(40px 0);
  }

  &__image {
    padding: 0;
    width: 100%;
    overflow: hidden;
    max-width: $max-column-width;
    margin: 0 auto;

    &-image {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    max-width: $max-column-width;
    margin: 0 auto;
    &-title {

    }

    &-description {

    }
  }

  &__link {

  }
}
