.blog-categories-filter {
  margin: 0;

  &__list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      position: relative;
      &:not(.item--search) {
        color: $black;
        cursor: pointer;
        transition: all ease-in-out .5s;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background-color: $orange;
          transition: all ease-in-out .5s;
        }
        &.item--active {
          color: $orange;
          &:after {
            width: 100%;
          }
        }
      }

      &-search-wrapper {
        width: 0;
        transition: all ease-in-out .5s;
        overflow: hidden;
      }

      &.item--search {
        width: auto;
        display: flex;
        justify-content: space-between;
        transition: all ease-in-out .5s;

        input {
          border: 1px solid $black;
          border-radius: 25px;
          @include padding(2px 5px);
        }
        .search-icon {
          transition: all ease-in-out .5s;
        }
        &:hover {
          .blog-categories-filter__list-item-search-wrapper {
            width: 100%;
            transition: all ease-in-out .5s;
          }

          .search-icon {
            position: absolute;
            right: 15px;
            top: 5px;
            $min-width: 10px;
            $max-width: 25px;
            @include fluid-attr(width, $min-width, $max-width);
            transition: all ease-in-out .5s;
          }
        }
      }


      &:hover {
        color: $orange;
        &:after {
          width: 100%;
          transition: all ease-in-out .5s;
        }
      }
    }
  }
}
