.close-icon {
  margin: 0;
  padding: 0;
  overflow:visible;
  $min-size: 20px;
  $max-size: 35px;
  @include fluid-attr(width, $min-size, $max-size);
  @include fluid-attr(height, $min-size, $max-size);

  &.icon--default {
    .close-icon-path {
      transition: all ease-in-out .5s;
      fill: $yellow;
    }
  }

  &:hover {
    &.icon--default {
      .close-icon-path {
        fill: $orange;
        transition: all ease-in-out .5s;
      }
    }
  }
}
