.feedback {
  margin: 0;
  @include padding(100px 0 40px 0);
  .swiper-pagination-bullet {
    background-color: $white;
    opacity: 1;
    height: 11px;
    width: 11px;
    @include margin(0 5px);
  }
  .swiper-pagination-bullet-active {
    background-color: $yellow;
  }
  &__carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-wrapper {
      width: 100%;
      overflow: hidden;
      height: auto;
    }

    &-pagination {
      display: flex;
      justify-content: center;
      @include padding(20px 0);
    }

    &-control {
      width: 5vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;

      &:first-child {
        justify-content: flex-start;
      }
    }

    &__person {
      display: flex;
      max-width: 1000px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      color: $white;
      font-weight: $font-weight-100;

      &__image {
        max-width: 175.11px;
        width: 100%;
        display: none;
        @include media-breakpoint-up(md) {
          display: block;
        }

        &-image {
          width: 100%;
          height: auto;
          vertical-align: middle;
        }
      }

      &__content {
        @include padding(0 10px);
        @include media-breakpoint-up(sm) {
          @include padding(0 20px);
        }

        @include media-breakpoint-up(md) {
          @include padding(0 25px);
        }
        @include media-breakpoint-up(lg) {
          @include padding(0 30px);
        }
        @include media-breakpoint-up(xl) {
          @include padding(0 40px);
        }
        @include media-breakpoint-up(xxl) {
          @include padding(0 45px);
        }
        @include media-breakpoint-up(xxl) {
          @include padding(0 50px);
        }

        &-message {
          font-weight: $font-weight-100;
        }

        &__person-info {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: flex-end;
          flex-direction: row-reverse;
          align-items: center;
          @include media-breakpoint-up(md) {
            display: block;
          }

          &-name {
            @include margin-top(10px);
            @include font-size(17px);
            font-weight: $font-weight-600;
          }

          &-role {
            @include font-size(13px);
          }

          &-image {
            max-width: 100px;
            @include margin-right(10px);
            @include margin-top(10px);
            @include media-breakpoint-up(md) {
              display: none;
            }
          }
        }
      }
    }
  }
}
