.footer {
  background-color: $gray-500;
  @include padding(30px 0);
  color: $white;

  &-separator {
    display: block;
    height: 2px;
    width: 100%;
    background-color: $white;
    @include margin(30px 0);
  }

  &-content {
    &-row {
      align-items: center;

      ul {
        li {
          display: inline-block;
          @include font-size(15px);
          font-weight: 100;
          @include padding-right(10px);
          span {
            cursor: pointer;
          }

          &:not(:last-child) {

            border-right: 1px solid $white;
            @include margin-right(10px);
          }
        }
      }
    }

    margin: auto 0;
    @include font-size(11px);
  }

  &__links {
    width: 100%;
    @include media-breakpoint-up(sm) {
      max-width: 600px;
    }
    &-list {
      &-item {
        padding: 0;
        font-weight: 100;
        @include font-size(15px);
        @include margin(10px 0);

        a {
          transition: color ease-in-out .5s;
          &:hover {
            color: $yellow;
            transition: color ease-in-out .5s;
          }
        }
      }
    }
  }

  &-social {
    display: flex;
    justify-content: flex-start;
    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }

    &-icon {
      @include margin-right(15px);
      @include media-breakpoint-up(sm) {
        @include margin-left(15px);
        margin-right: 0;
      }
    }
  }
  &-logo {
    display: flex;
    justify-content: flex-start;
    @include margin-bottom(10px);
    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
      margin-bottom: 0;
    }

    img {
      cursor: pointer;
    }
  }
}
