.react-parallax-bgimage {
  height: 100%;
}
.react-parallax {
  img {
    object-fit: cover;
  }
}
.header {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 100;
  $min-height: 400px;
  $max-height: 600px;
  @include fluid-attr(height, $min-height, $max-height);

  &-graphic {
    position: absolute;
    transition: max-width ease-in-out .5s;

    &.graphic--left {
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      max-width: 300px;

      @include media-breakpoint-up(sm) {
        max-width: 400px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 500px;
      }
      @include media-breakpoint-up(xxl) {
        max-width: 640px;
      }
    }

    &.graphic--right {
      right: 0;
      top: 0;
      max-width: 200px;

      @include media-breakpoint-up(sm) {
        max-width: 350px;
      }
      @include media-breakpoint-up(md) {
        max-width: 400px;
      }
      @include media-breakpoint-up(lg) {
        max-width: 500px;
      }
      @include media-breakpoint-up(xxl) {
        max-width: 640px;
      }
    }
  }

  &-title {
    margin: 0;
    color: $white;
    line-height: 1.2;
    @include font-size(50px);
  }
}
