.info-icon {
  margin: 0;
  padding: 0;
  $min-size: 20px;
  $max-size: 50px;
  @include fluid-attr(width, $min-size, $max-size);
  @include fluid-attr(height, $min-size, $max-size);

  &.icon--default {
    .info-icon-path {
      fill: $yellow;
      transition: all ease-in-out .5s;
    }

    &:hover {
      .info-icon-path {
        fill: $orange;
        transition: all ease-in-out .5s;
      }
    }
  }
}
