.menu {
  margin: 0;
  padding: 0;
  background: $black;
  @include padding(25px 0);
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  @mixin stripe-bottom($width) {
    position: absolute;
    content: '';
    width: $width;
    height: 2px;
    left: 0;
    bottom: -2px;
    background: $yellow;
    transition: width ease-in-out .5s;
  }

  &__list {
    color: $white;
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    flex-direction: row;
    &__item {
      position: relative;
      font-weight: $font-weight-100;
      &:after {
        @include stripe-bottom(0px);
      }
      &:hover {
        &:after {
          @include stripe-bottom(60%);
        }
      }
    }

    &__item.item--active {
      font-weight: $font-weight-500;
      &:after {
        @include stripe-bottom(60%);
      }
    }
  }
}