.mobile-menu {
  margin: 0;
  padding: 0;
  background-color: $gray-500;
  @include padding(10px);
  display: block;
  color: $white;
  overflow: hidden;
  transition: background-color ease-in-out .5s;
  &.menu--open {
    background-color: $black;
    transition: background-color ease-in-out .5s;
    z-index: 1000;
    width: 100%;
  }
  &.menu--transitioning {
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  @include media-breakpoint-up(sm) {
    display: none;
  }

  @mixin stripe-bottom($width) {
    position: absolute;
    content: '';
    width: $width;
    height: 2px;
    left: 0;
    bottom: -2px;
    background: $yellow;
    transition: width ease-in-out .5s;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {

    }

    &__burger-button {
      width: 30px;
      height: 25px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background: $orange;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(even) {
          left: 50%;
          border-radius: 0 9px 9px 0;
        }

        &:nth-child(odd) {
          left:0px;
          border-radius: 9px 0 0 9px;
        }
      }

      &.open {

        span {
          &:nth-child(1) {
            left: 5px;
            top: 7px;
          }
          &:nth-child(2) {
            left: calc(50% - 5px);
            top: 7px;
          }
          &:nth-child(3) {
            left: -50%;
            opacity: 0;
          }
          &:nth-child(4) {
            left: 100%;
            opacity: 0;
          }
          &:nth-child(5) {
            left: 5px;
            top: 12px;
          }
          &:nth-child(6) {
            left: calc(50% - 5px);
            top: 12px;
          }
        }
      }
    }

    &__burger-button span:nth-child(1), &__burger-button span:nth-child(2) {
      top: 0px;
    }

    &__burger-button span:nth-child(3), &__burger-button span:nth-child(4) {
      top: 10px;
    }

    &__burger-button span:nth-child(5), &__burger-button span:nth-child(6) {
      top: 20px;
    }

    &__burger-button.open span:nth-child(1),&__burger-button.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &__burger-button.open span:nth-child(2),&__burger-button.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    will-change: height;
    transition: height ease-in-out .5s;

    &__item {
      position: relative;
      font-weight: $font-weight-100;
      @include margin(15px 0);
      &:after {
        @include stripe-bottom(0px);
      }
      &:hover {
        &:after {
          @include stripe-bottom(60%);
        }
      }
    }

    &__item.item--active {
      font-weight: $font-weight-500;
      &:after {
        @include stripe-bottom(60%);
      }
    }
  }
}
