.pager {
  @include padding-top(30px);
  @include padding-left(20px);
  @include padding-right(20px);
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  &__carousel-control {
    flex-grow: 1;
    z-index: 100;
    display: none;
    //pointer-events: none;
    &.active {
      display: block;
    }

    img {
      pointer-events: all;
      cursor: pointer;
      max-height: 40px;
    }
  }

  .swiper-container {
    flex-grow: 1;
    width: 100%;
  }
  &__list {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &-item {
      color: $gray-500;
      cursor: pointer;
      $min-padding: 15px;
      $max-padding: 30px;
      text-align: center;
      @include fluid-attr(padding-left, $min-padding, $max-padding);
      @include fluid-attr(padding-right, $min-padding, $max-padding);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      transition: color ease-in-out .5s;
      @include font-size(20px);
      @include media-breakpoint-up(sm) {
        @include font-size(25px);
      }
      @include media-breakpoint-up(md) {
        @include font-size(26px);
      }
      @include media-breakpoint-up(lg) {
        @include font-size(28px);
      }
      @include media-breakpoint-up(xl) {
        @include font-size(30px);
      }
      &.page--active {
        color: $orange;
        transition: color ease-in-out .5s;
      }

      &:hover {
        color: $orange;
        transition: color ease-in-out .5s;
      }
    }
  }
}
