.parcel-return {
  margin: 0;
  padding: 0;
  background-color: $gray-500;
  @include padding(30px 0);

  &.with--border {
    border: 20px solid $black;
  }

  &-title {
    color: $white;
    @include font-size(40px);
    @include margin-bottom(20px);
  }
  .card--layout {
    @include padding-bottom(15px);
    &:first-child {
      //@include padding(0 10px);
      @include media-breakpoint-up(sm) {
        padding-top: 0;
        padding-bottom: 0;
        @include padding-right(15px);
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(sm) {
        @include padding-left(15px);
      }
      @include media-breakpoint-up(md) {
        padding-top: 0;
        padding-bottom: 0;
        @include padding(0 7.5px);
      }
    }

    &:nth-child(3) {
      @include media-breakpoint-up(sm) {
        @include padding-right(15px);
      }
      @include media-breakpoint-up(md) {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        @include padding-left(15px);
      }
    }
  }
  &__card {

    &-image-wrapper {
      border-radius: 10px;
      border: 5px solid $gray-100;
      position: relative;
      width: 100%;
      background: $white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-image {
      margin: 0;
      height: auto;
      max-width: 323px;
      width: 100%;
      flex-shrink: 0;

      &-counter {
        background-color: $orange;
        color: $white;
        font-weight: 600;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 100%;
        text-align: center;
        justify-content: center;
        @include font-size(18px);
      }
    }

    &-description {
      @include margin-top(20px);
      @include font-size(20px);
      color: $white;
      font-weight: 100;
    }
  }

  &__link {
    width: 100%;
    text-align: center;
  }
}
