.partners {
  @include margin-bottom(30px);
  &-title {
    @include font-size(45px);
    &.title--with-border {
      color: $gray-500;
      @include title-border();
    }

    &.title--orange {
      @include font-size(40px);
      color: $orange;
      @include padding-top(50px);
    }

    &.contact--size {
      $font-size-max: 40px;
      $font-size-min: 30px;
      @include fluid-attr(font-size, $font-size-min, $font-size-max);
    }
  }
  &-description {
    color: $gray-500;
  }
  .description--gray {
    color: $gray-500;
  }

  &-contact-title {
  }

  &-partner {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
      flex-shrink: 0;
      @include padding(10px);
    }
    &:first-child {
      justify-content: flex-start;
    }
  }
}
