.search-icon {
  overflow:visible;
  $max-size: 35.9px;
  $min-size: 25.9px;
  @include fluid-attr(height,$min-size, $max-size);
  @include fluid-attr(width,$min-size, $max-size);

  &-icon {
    transition: all ease-in-out .5s;
  }

  &.icon--default {
    &:hover {
      .search-icon-path {
        fill: $orange;
      }
    }
  }

  &.icon--white {
    &:hover {
      .search-icon-path {
        fill: $yellow;
      }
    }
  }

  &.icon--default {
    .search-icon-path {
      fill: $yellow;
      transition: all ease-in-out .5s;
    }
  }

  &.icon--white {
    .search-icon-path {
      fill: $white;
      transition: all ease-in-out .5s;
    }
  }
}
