.search-input {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  &-graphic {
    $max-width: 180px;
    $min-width: 40px;
    width: 100%;
    @include margin-right(10px);
    @include fluid-attr(max-width, $min-width, $max-width);
    @include margin-top(190px);
  }

  &__form {
    flex-grow: 1;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;


    &-title {
      color: $white;
      line-height: 1;
    }

    &-description {
      color: $white;
    }

    &-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      position: relative;

      input {
        flex-grow: 1;
        background: rgba(127,128,128, .5);
        color: $white;
        font-weight: 100;
        @include padding(10px 85px 10px 10px);
        border: none;
        border-bottom: 5px solid $white;
        $min-font-size: 16px;
        $max-font-size: 35px;
        @include fluid-attr(font-size, $min-font-size, $max-font-size);
        &::-ms-input-placeholder {
          color: $white !important;
        }
        &::-webkit-input-placeholder {
          color: $white !important;
        }
        &::placeholder {
          color: $white !important;
        }
        &:focus {
          outline: none;
        }
      }
    }

    &-button {
      $max-right: 30px;
      $min-right: 20px;
      position: absolute;
      right: 30px;
      bottom: 0;
      top: 0;
      @include fluid-attr(right, $min-right, $max-right);
      margin: auto 0;

      &:focus {
        outline: none;
      }
    }

    &-error {
      color: $orange;
    }
  }
}
