.service-message {
  margin: 0;
  position: absolute;
  top: 20px;
  color: $white;
  @include font-size(19px);
  z-index: 100000;
  width: 100%;

  &__content {
    position: relative;
    width: 100%;
    background: $black;
    margin: 0 auto;
    @include padding(10px 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-message {
      color: $white;
      $min-font-size: 15px;
      $max-font-size: 17px;
      @include fluid-attr(font-size, $min-font-size, $max-font-size);
      a {
        color: $orange;
        text-decoration: underline;
      }
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-close {
        @include margin-left(20px);
        cursor: pointer;
        width: 16px;
        object-fit: contain;
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }
}
