.social {
  @include fluid-attr(width, 30px, 48px);
  @include fluid-attr(height, 30px, 48px);
  overflow:visible;

  &-wrapper {
    fill: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &-icon {
    transition: all ease-in-out .5s;
    fill: $gray-500;
  }


  &:hover {

    .social-icon {
      transition: all ease-in-out .5s;
      fill: $orange;
    }
  }
}

