.filters {
  @media all and (min-width: $screen-sm) {
    border-top: 1px solid color(green);
    margin-top: 1rem;
  }

  label {
    font-weight: 400;
  }

  .filterHeading {
    margin: 0.75rem 0 0.5rem;
    font-size: $font-size-h4;

    @media all and (min-width: $screen-sm) {
      margin: 2rem 0 1rem;
    }
  }

  .distance {
    position: relative;
    padding: 1.5rem 0;
    overflow: visible;

    .fauxSliderTrack {
      z-index: -1;
      width: 100%;
      height: 0.421rem;
      background: color(grey-light);
      border-radius: 2rem;
    }

    .fauxSliderGrab {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translateX(-50%) translateY(-50%);
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      border: 1px solid color(yellow);
      background: color(yellow);

      &::before {
        content: attr(data-value);
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }

  .filterOpeningHoursButtons {
    display: flex;
    justify-content: space-between;
    @include margin-bottom(70px);

    button {
      border: 1px solid color(blue);
      background-color: transparent;
      color: color(blue);
      font-size: 1.2rem;
      padding: 0.68rem 1.46rem;

      @media all and (min-width: $screen-sm) {
        padding: 0.68rem 2.46rem;
      }

      &:hover,
      &:focus {
        border-color: color(yellow);
        background-color: color(yellow);
        color: color(grey-darker);
      }

      &::after {
        content: url("../img/icon-checkmark-white.png");
        opacity: 0;
        max-width: 0;
        overflow: hidden;
        vertical-align: middle;
        transition: all 0.3s ease;
        display: inline-block;
      }

      &.selected {
        background: color(blue);
        color: color(white);

        &:hover,
        &:focus {
          border-color: color(blue);
        }

        &::after {
          margin-left: 0.8rem;
          opacity: 1;
          max-width: 100%;
        }
      }
    }
  }

  .services li {
    margin-bottom: 0.35rem;

    label {
      position: relative;

      .fauxCheckbox {
        position: absolute;
        top: 0rem;
        left: 0;
        display: inline-block;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 0.25rem;
        border: 1px solid color(blue);
        overflow: visible;

        &::before {
          content: " ";
          display: inline-block;
          height: 100%;
          width: 100%;
        }
      }

      [type="checkbox"] {
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;

        &:checked + .fauxCheckbox:before {
          border-radius: 0.4rem;
          border: 2px solid color(white);
          background-color: color(blue);
        }
      }

      span:not(.fauxCheckbox) {
        display: block;
        padding-left: 2.1rem;
      }
    }
  }

  .clearApplyButtons button {
    padding: 0.435rem 1.46rem;
    font-size: 16px;

    @media all and (min-width: $screen-sm) {
      padding: 0.835rem 2.46rem;
      font-size: 18px;
    }

    &.clearButton {
      background-color: color(grey-light);
      color: color(grey-darker);
      margin-right: 1rem;
    }
  }
}
