.rc-slider-handle:before {
  content: attr(data-value);
  display: block;
  position: absolute;
  top: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $orange;
  @include font-size(13px);
}

&__sidebar {
  position: absolute;
  width: 100%;
  max-width: 467px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .30);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: height 1s ease, top 1s ease, transform 1s ease;
  overflow: hidden;
  z-index: 10001;
  $left-max: 30px;
  $left-min: 10px;
  //@include fluid-attr(max-height, $min-height, $max-height);
  right: 0;
  left: 0;
  top: 5%;
  margin: auto 0;

  .rc-slider-track {
    background: $gray-100 !important;
  }

  .rc-slider-handle {
    background: $yellow;
    border: none;
    $min-size: 20px;
    $max-size: 40px;
    @include margin-top(-15px);
    @include fluid-attr(height, $min-size, $max-size);
    @include fluid-attr(width, $min-size, $max-size);
  }

  @include padding(0 10px);

  @include media-breakpoint-up(sm) {
    @include fluid-attr(left, $left-min, $left-max);
  }

  .sidebar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include padding(20px 0);

  }

  &.closed {
    transform: translateY(0%);
    transition: all ease-in-out .5s;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;

    &__search-input-wrapper {
      position: relative;
      width: 100%;
      display: flex;
    }

    &-search-icon {
      position: absolute;
      right: 0;
      top: 0;

      .search-icon {
        $min-size: 20px;
        $max-size: 30px;
        @include margin-right(5px);
        @include fluid-attr(height, $min-size, $max-size);
        @include fluid-attr(width, $min-size, $max-size);
      }

      @include padding(8px);
    }
  }

  .search {
    display: flex;
    padding-bottom: 0.5rem;
    flex: 1;
    margin-bottom: 1rem;

    input {
      background-color: $gray-100;
      color: $white;
      line-height: 1;
      @include padding(5px);
      @include font-size(20px);
      border: none;
      flex: 1;

      &:focus {
        outline: none;

      }
    }

    .button-search {
      background-color: $orange;
      color: $white;
      line-height: 1;
      @include margin-left(20px);
      @include margin-right(15px);
      @include padding(10px 20px);
      transition: background-color ease-in-out .5s;

      &:hover {
        background-color: $yellow;
        transition: background-color ease-in-out .5s;
      }
    }
  }

  .results {
    overflow: auto;
    border-bottom: 1px solid #a5b7b5;
    will-change: max-height;
    max-height: 300px;
    transition: max-height ease-in-out .5s;
  }

  .result {
    cursor: pointer;
    border-radius: 0;
    border-top: 1px solid #a5b7b5;
    border-right: 1px solid #a5b7b5;
    border-left: 1px solid #a5b7b5;
    @include padding(5px 0);
    line-height: 1.416rem;
    display: flex;
    align-items: center;
    transition: background-color ease-in-out .5s;

    &:hover, &--highlight {
      background-color: #f1f1f1;
      transition: background-color ease-in-out .5s;
    }
  }

  .counter {
    height: 4rem;
    width: 3.1rem;
    max-width: 30px;
    @include margin-left(20px);
    padding-top: 1rem;
    background-size: contain;
    color: $orange;
  }

  .info {
    font-size: 14.4px;
    text-align: left;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .button {
    display: inline-block;
    @include padding(0 5px);

    &:hover {
      background-color: transparent;
    }
  }
}
