.StoreLocatorOSM {
  position: relative;
  width: 100%;
  &.border--gray {
    border: 20px solid $black;
  }
  &.border--black {
    border: 20px solid $black;
  }
  @import "./store-locator-map";
  @import "./store-locator-search";
  @import "./store-locator-sidebar";
  @import "./store-locator-open-store";
  @import "./store-locator-error";
  .open-store-layout {
    @include padding-left(10px);
  }
  &-tabs {
    position: relative;
    @include margin-top(-70px);
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }

  .filterButton,
  .hideResultsButton {
    margin: 0;
    display: inline-block;
    font-size: 18px;
    border-radius: 3rem;
    @include padding(10px 20px);
    line-height: 1;
    border: 2px solid $orange;
    transition: all ease-in-out .5s;
    color: $orange;

    &:focus {
      outline: none;
      background-color: $orange;
      color: $white;
      border-color: transparent;
      transition: all ease-in-out .5s;
    }
  }
  .street-view-link {
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      background-size: cover;
      background-position: center;
    }
  }

  .filterButton {
    margin-left: auto;
    @include margin-right(15px);
  }

  .popupControls {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
  }

  .filters {
    max-height: 300px;
    overflow-y: auto;
    @include margin-bottom(50px);
    &-title {
      &.filters--distance {
        @include margin-bottom(30px);
      }
      @include margin-bottom(10px);
    }
    &__actions {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;

      &-action {
        flex-grow: 1;
        @include padding(10px 0);
        @include font-size(18px);
        &:first-child {
          background: $gray-100;
          &:hover {
            background: lighten($gray-100, 10);
            transition: all ease-in-out .5s;
          }
        }
        &:last-child {
          background: $yellow;
          &:hover {
            background: lighten($yellow, 10);
            transition: all ease-in-out .5s;
          }
        }
        transition: all ease-in-out .5s;
      }
    }
  }

  .storeServices .list-unstyled {
    font-size: 14.4px;
    line-height: 1em;
  }

  .openingHours {
    font-size: 14.4px;
    line-height: 1em;
  }
}
