@media all and (max-width: $screen-lg) {
  .offers-carousel {
    position: relative;
    margin: 0;

    .slick-prev {
      left: -15px;
      transform: translate(-100%, -50%);
    }

    .slick-next {
      right: -15px;
      transform: translate(100%, -50%);
    }
  }
}

.offers a:hover,
.offers a:focus {
  text-decoration: none;
  outline: none;
}

.offer {
  position: relative;
  background: black;
  margin: 2rem 0;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media all and (min-width: $screen-sm) {
    margin: 5rem auto 3rem;
    width: 95%;
  }

  .offer-content {
    color: color(white);
    padding: 1rem 1.2rem;
    height: 90%;
    @include gradient-horizontal(color(black), rgba(255, 255, 255, 0));

    .heading {
      font-size: $font-size-large;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
    .offer-content-text{
      font-size: 0.95rem;
    }
  }

  .offer-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 1rem 0.3rem;
    background: color(yellow);
    color: color(grey-darker);

    &::after {
      content: url("../img/icon-caret-right.png");
      display: inline-block;
      margin-left: 1rem;
      vertical-align: middle;
    }
  }
}

.offers .slick-next:before, .offers .slick-prev:before,
.suppliers .slick-next:before, .suppliers .slick-prev:before{
  color: color(black);
}

@media all and (min-width: $screen-sm) {
  .offers .slick-track {
    padding: 2rem 0;
  }

  .offers .slick-slide {
    backface-visibility: hidden;
    transition: all 0.5s ease;
    opacity: 0;

    &.slick-active {
      opacity: 1;
    }

    &.slick-current {
      transform: scale(1.2);
      z-index: 1;
      position: relative;

      @include mobile-down {
        transform: none;
      }
    }
  }
}

@media all and (max-width: $screen-xs) {
  button.slick-next,
  button.slick-prev {
    display: none !important;
  }
}
