@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.StoreLocator {
  position: relative;
  width: 100%;
  height: 500px;

  @media all and (min-height: 760px) {
    height: 655px;
  }

  &.disableRequests {
    pointer-events: none;
  }

  button {
    background-color: color(blue);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    color: color(white);
    padding: 0.835rem 2.46rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: normal;

    &:hover,
    &:focus {
      background-color: color(yellow);
      color: color(black);
    }
  }

  ul {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .mapContainer {
    width: 100%;
    height: 100%;
    user-select: none;
  }
}

main:not(.landing){
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    display: none;

    @media all and (min-width: $screen-sm) {
      padding: 2rem 3rem;
    }

    &.open {
      animation: open 0.5s ease forwards;
      display: block;
    }
  }
}

.popupContainer {
  background: rgb(255, 255, 255);
  //box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 1rem 1.5rem;
  opacity: 0;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  max-width: $container-tablet;

  @media all and (min-width: $screen-sm) {
    padding: 2rem 3rem;
  }

  @media all and (min-width: $screen-md) {
    max-width: $container-desktop;
  }

  @media all and (min-width: $screen-lg) {
    max-width: $container-large-desktop;
  }

  &.open {
    animation: open 1s ease forwards;
  }
}

.postcodeSearch {
  padding-bottom: 1.083rem;
  border-bottom: solid 1px color(green);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  input {
    font-weight: normal;
    border: none;
    margin: 0.5rem 0;
    padding-right: 1.5rem;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    color: color(blue);
    line-height: 1em;

    &::placeholder {
      opacity: 1;
      text-transform: none;
    }

    @media all and (min-width: $screen-sm) {
      font-size: 35px;
      padding-right: 5.5rem;
    }

  }

  .searchButton {
    background-image: url('../img/search-white.png');
    border-radius: 50%;
    height: 2.92rem;
    width: 2.41rem;

    @media all and (min-width: $screen-sm) {
      height: 4.92rem;
      width: 4.41rem;
    }
  }
}

.geoLocation button {
  background-image: url("../img/icon-geolocation.png");
}
