.FAQItem,
.multi-questions {
  padding-top: 3rem;
  font-family: Arial, sans-serif;
  border-bottom: 1px solid color(grey-light);

  @media all and (min-width: $screen-sm) {
    margin: 0 3.5rem;
    padding: 2rem 5rem 1rem;
  }
  @media all and (max-width: $screen-sm) {
    padding-top: 0.5rem;
  }

  //.title,
  //.question {
  //  position: relative;
  //
  //  &::after {
  //    position: absolute;
  //    top: 0;
  //    right: 0;
  //    content: "";
  //    background: url('../img/arrow-down.png') no-repeat center;
  //    background-size: contain;
  //    display: inline-block;
  //    transition: all 0.8s
  //  }
  //}

  //.title {
  //  font-size: 2.5rem;
  //  color: color(purple);
  //  margin-bottom: .5rem;
  //  line-height: 1.2em;
  //
  //  &::after {
  //    height: 4.834rem;
  //    width: 3rem;
  //  }
  //}

  .question {
    display: inline-block;
    padding-right: 2.5rem;

    &::after {
      //height: 1.5rem;
      //width: 1.5rem;
    }
  }

  .content {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 1rem;
    color: color(grey-darker);
  }

  ul,
  ol {
    li {
      margin: 12px 0;
    }
  }
}

.multi-questions .FAQItem {
  padding: 0;
  margin: 0 0 30px 0;
  border: none;
}

.single-question .FAQItem.text-visible .title::after,
.multi-questions .FAQItem.text-visible .question::after {
  transform: scaleY(-1);
}

//.multi-questions .title::after,
//.single-question .FAQItem .question::after {
//  display: none;
//  content: none;
//}
