&__search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.25);
  z-index: 1000;
  display: flex;
  align-items: center;

  .store-search-error {
    color: orangered;
  }

  .container-medium {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    @include media-breakpoint-up(sm) {
      flex-wrap: nowrap;
    }
  }
}
