.storePopupContainer {
  max-width: $container-desktop;

  @media all and (min-width: $screen-md) {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }

  ul li {
    margin-bottom: 0.5rem;
  }

  .listHeading {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  .contactDetails h3 {
    transform: translateX(-3rem);
    margin: 0 0 0 3rem;
    padding: 12px 0 44.5px 3rem;
    background: url("../img/triangle.png") no-repeat center left;
    background-size: contain;
    color: color(blue);
  }

  .contactDetails ul {
    @media all and (min-width: $screen-sm) {
      margin-left: 7rem;
      transform: translateY(-29px);
    }

    li {
      position: relative;
      padding-left: 2rem;
      line-height: 2rem;
      display: block;

      &::before {
        content: " ";
        display: inline-block;
        background: no-repeat center;
        height: 1.9rem;
        width: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .getDirectionsButton {
    background: none;
    border: 1px solid color(blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: color(blue);

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @media all and (min-width: $screen-sm) {
      flex-direction: column;
      align-items: stretch;
    }

    @media all and (min-width: $screen-md) {
      margin-left: auto;
      padding: 1rem 2rem;
    }

    .icon {
      display: block;
      width: 3.92rem;
      height: 3.92rem;
      margin-right: 1rem;
      border: 2px solid color(blue);
      border-radius: 50%;
      background: url("../img/icon-directions-arrow-right.png") no-repeat center;
      background-size: 50%;

      @media all and (min-width: $screen-sm) {
        width: 5.42rem;
        height: 5.42rem;
        margin: 0 auto 1rem;
      }

      @media all and (min-width: $screen-md) {
        width: 6.42rem;
        height: 6.42rem;
      }
    }

    strong span + span {
      margin-top: 1rem;
    }
  }

  .openingHours li {
    display: flex;
    align-content: space-between;
    justify-content: stretch;

    :first-child {
      min-width: 10rem;
    }
  }

  .storeServices li {
    padding-left: 3rem;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 14px;
      display: inline-block;
      height: 17px;
      width: 17px;
      border-radius: 3px;
      border: 1px solid color(blue);
    }

    &::after {
      content: " ";
      position: absolute;
      top: 1px;
      left: 15px;
      display: inline-block;
      height: 15px;
      width: 15px;
      border-radius: 4px;
      border: 2px solid color(white);
      background-color: color(blue);
    }
  }

  @media all and (min-width: $screen-sm) {
    .storeServices {
      transform: translateX(7rem);
    }
  }
}
