&__error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.25);
  z-index: 1001;
  display: flex;
  align-items: center;

  .container-medium {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #EF7F35;
    color: white;
    padding: 1rem 2rem;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      color: black;
    }
  }
}
