&__open-store {
  z-index: 20000;
  position: relative;
  display: block;
  background-color: #ffffff;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.30);
  width: 100%;
  @include padding(20px);

  .close {
    background-color: #2e2053;
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 400;
    border-radius: 50%;
    padding: 0;
    line-height: 1rem;
    text-align: center;
    font-size: 20.5px;
    width: 35px;
    height: 35px;
    opacity: 1;
    float: none;
    margin-left: auto;
    display: inherit;
  }
  &-top {
    @include padding(10px 0);
  }
  &-carriers {
    width: 100%;
    h4 {
      font-weight: 600;
    }
    &-icons {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      flex-grow: 1;
      max-width: 100px;
      width: 100%;
      @include padding(5px);
    }
  }

  &-opening-times {
    max-width: 310px;
    &-day {
      color: $gray-500;
      font-weight: 400;
      text-transform: capitalize;
    }
    &-title {
      @include font-size(24px);
    }
    ul li {
      @include font-size(18px);
      //@include margin(5px 0);
      display: flex;
      justify-content: space-between;
    }
  }

  &-name {
    color: $orange;
  }
  &-address {
    text-transform: capitalize;
  }
  &-address,
  &-closing-time,
  &-distance {
    @include font-size(18px);
    margin-bottom: 0;
    color: $gray-500;
  }

  &-distance {
    font-weight: 600;
  }

  &-directions {
    border: 2px solid $yellow;
    color: $orange;
    border-radius: 25px;
    @include padding(5px 10px);
    @include font-size(17px);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    @include margin(10px 0);
    transition: all ease-in-out .5s;

    .directions-icon {
      $min-size: 10px;
      $max-size: 30px;
      @include fluid-attr(height, $min-size, $max-size);

      &-path {
        fill: $orange !important;
      }
    }

    &:hover {
      background-color: $yellow;
      border-color: transparent;
      color: $white;
      transition: all ease-in-out .5s;

      .directions-icon .directions-icon-path {
        fill: $white !important;
      }
    }
  }
}
