@keyframes rota {
  0% {
    transform: rotateZ(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotateZ(360deg) translate(-50%, -50%);
  }
}

.loadingAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
  opacity: 0;

  &.visible {
    opacity: 1;

    &::before,
    &::after {
      content: " ";
      display: inline-block;
      border-radius: 50%;
      animation: rota 2s infinite linear;
    }

    &::before {
      background-color: color(yellow);
      width: 10rem;
      height: 10rem;
    }

    &::after {
      background-color: color(blue);
      width: 5rem;
      height: 5rem;
      animation-direction: reverse;
      transform-origin: -6rem;
      position: absolute;
      top: 25%;
      left: 110%;
    }
  }
}
