#FAQsTriangle {
  position: relative;
  height: 50px;
  font-size: 31px;
  padding: 42px 10px 10px 30px;
  margin-top: -58px;
  background-color: color(yellow);
  width: 142px;
  font-weight: 700;
  color: color(blue);

  &::before {
    content: attr(data-section-heading);
    position: relative;
    z-index: 1;
  }

  &::after {
    content: " ";
    display: block;
    border-style: solid;
    border-width: 0 142px 70px 0;
    border-color: transparent color(yellow) transparent transparent;
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 142px;
    height: 100px;
  }
}

.FAQ {
  position: relative;

  margin: 3rem 0 0;
  font-size: $font-size-h2;

  h1 {
    font-weight: 700;
    color: color(blue);
    font-size: 30px;

    @media all and (min-width: $screen-sm) {
      padding: 0 8.5rem;
    }
  }
  @media(max-width: $screen-sm){
    margin: 2rem 0;
  }
}
