&__map {
  width: 100%;
  position: relative;
  z-index: 0;
  $min-height: 400px;
  $max-height: 725px;
  overflow: hidden;
  @include fluid-attr(height, $min-height, $max-height);

  .leaflet-container {
    height: 100%;
    position: absolute;
    @include fluid-attr(height, $min-height, $max-height);
    width: 100%;
    margin: 0 auto;
  }

  .leaflet-marker-icon {
    transition: opacity 0.5s linear;
  }
}
