.resultsPopupContainer {
  height: 100%;
  width: 100%;
  max-height: 10.7rem;
  transition: all 1s ease;
  padding: 1.2rem 1.6rem;
  overflow: hidden;
  top: 0;
  left: 0;
  min-width: 320px;
  max-width: 467px;

  @media all and (min-width: $screen-sm) {
    padding: 2rem 2.6rem;
    min-width: 160px;
    max-width: 467px;
    max-height: 11.7rem;
    top: 5%;
    left: 2rem;
  }

  &.mobile.open {
    transform: translateX(0);
  }

  button {
    border-radius: 3rem;
  }

  .search {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.resultsListState--filter .hideResultsButton {
    display: none;
  }

  .popupControls {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    @media all and (min-width: $screen-sm) {
      margin-top: 1rem;
    }

    button {
      padding: 1.25rem;
      font-size: 16px;

      @media all and (min-width: $screen-sm) {
        padding: 0.835rem 2.46rem;
        margin: 0;
        font-size: 18px;
      }
    }
  }

  .noResults {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid transparent;
    font-size: $font-size-large;
  }

  .results {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    top: 10.84rem;
    bottom: 0;
    left: 1.8rem;
    right: 1.8rem;

    @media all and (min-width: $screen-sm) {
      left: 2.6rem;
      right: 2.6rem;
    }

    .list-group-item {
      cursor: pointer;
      border-radius: 0;
      border-color: color(green);
      padding: 0.916rem 0.833rem 1rem 0.833rem;
      line-height: 1.416rem;
      display: flex;
      align-items: center;

      &:hover,
      &.hovered {
        background: color(yellow);
      }

      .counter {
        height: 4rem;
        width: 3.1rem;
        max-width: 30px;
        margin-right: 1rem;
        padding-top: 1rem;
        background-size: contain;
        color: color(white);
      }

      .storeInfo {
        width: 100%;

        @media all and (min-width: $screen-sm) {
          width: calc(100% - 7rem);
        }
      }

      .infoButtons {
        width: 8rem;
        line-height: 1rem;

        @media all and (min-width: $screen-sm) {
          width: 9rem;
        }

        button {
          display: inline-block;
          background: url("../img/icon-info.png") no-repeat center;
          background-size: contain;
          vertical-align: top;
          padding: 1.5rem;
          margin: 0 0 0.5rem;

          @media all and (min-width: $screen-sm) {
            margin: 0 0.5rem 0 0;
          }
        }

        a {
          display: inline-block;
          padding: 1.25rem;
          border: 3px solid color(blue);
          border-radius: 50%;
          background: url("../img/icon-directions-arrow-right.png") no-repeat center;
          background-size: 80%;
        }
      }
    }
  }

  .toggleResultsDisplay {
    background: none;
    padding: 0;
    margin: 1.59rem 0;
    transition: all 0.3s ease;
  }

  &.expanded {
    &.resultsListState--filter,
    &.resultsListState--results {
      max-height: 100%;
    }

    @media all and (min-width: $screen-sm) {
      &.resultsListState--filter {
        max-height: 42.167rem;
      }

      &.resultsListState--results {
        max-height: 50.166rem;
      }
    }

    @media all and (min-width: $screen-sm) {
      top: 50%;
      transform: translateX(0%) translateY(-50%);
    }

    .results {
      overflow-y: auto;
      opacity: 1;
    }

    .results,
    .noResults {
      border-top-color: color(green);
    }

    &.resultsListState--results.scrollable:after {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 13rem;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, color(white) 90%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, color(white) 90%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, color(white) 90%);
      pointer-events: none;
    }

    .toggleResultsDisplay {
      transform: rotateX(180deg);
    }
  }
}
