
.styled-content--layout {
  &:first-child {
    @include padding-top(40px);
    @include padding-bottom(0px);
    @include media-breakpoint-up(sm) {
      @include padding(40px 40px 40px 0);
    }
  }
  &:last-child {
    @include padding-top(25px);
    @include padding-bottom(40px);
    @include media-breakpoint-up(sm) {
      @include padding(40px 0px 40px 40px);
    }
  }
}

.styled-content-column--layout {

}

.styled-content {
  margin: 0;
  padding: 0;

  &-title {
    color: $orange;
    $font-size-max: 40px;
    $font-size-min: 30px;
    @include fluid-attr(font-size, $font-size-min, $font-size-max);
    @include margin-bottom(20px);
  }

  &-subtitle {
    color: $orange;
    $font-size-max: 35px;
    $font-size-min: 25px;
    @include fluid-attr(font-size, $font-size-min, $font-size-max);
    @include margin(10px 0);
  }

  &-description {
    $font-size-max: 20px;
    $font-size-min: 16px;
    color: $gray-500;
    font-weight: $font-weight-100;
    @include margin-bottom(30px);

    p {
      @include margin-bottom(20px);
    }
    a {
      color: $orange;
      text-decoration: underline;
    }

    @include fluid-attr(font-size, $font-size-min, $font-size-max);

  }
}
