.styled-link {
  margin: 0;
  @include padding(10px 20px);
  white-space: nowrap;
  display: inline-block;
  @include font-size(16px);
  color: $black;
  cursor: pointer;
  &.link--default {
    border-radius: 5px;
    background-color: $yellow;
    transition: all ease-in-out .5s;

    &:hover {
      background-color: $yellow-light;
      transition: all ease-in-out .5s;
      box-shadow: 0 5px 0 $black;
    }
  }

  &.link--no-background {
    background-color: transparent;
    color: $white;
  }

  &.link--rounded {
    border-radius: 25px;
    background-color: $gray-500;
    @include padding(10px 30px);

    &:hover {
      background-color: $black;
      box-shadow: 0 5px 0 $black;
      transition: all ease-in-out .5s;
    }
  }

  &.link--rounded-gray {
    background-color: $gray-500;
    @include padding(10px 50px);
    border-radius: 25px;
    color: $white;
  }

  &.link--orange-pill {
    background-color: $orange;
    @include padding(10px 50px);
    color: $white;
    border-radius: 25px;
  }
}
