.tab-button {
  margin: 0;
  padding: 0;
  @include padding(15px 30px);
  @include margin-right(10px);
  border-radius: 5px 5px 0 0;
  background-color: $gray-500;
  z-index: 100;
  color: $white;
  &.button--active {
    background-color: $black;
  }
}
