.top-bar {
  margin: 0;
  padding: 0;
  height: auto;
  background: $gray-500;
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }

  &-logo {
    cursor: pointer;
    margin: 0;
    @include padding(30px 0);
    max-width: 146.22px;
    width: 100%;
    height: auto;
  }
}
