.track-overlay {
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10000;
  max-width: 600px;
  background-color: $white;
  $min-height: 300px;
  $max-height: 500px;
  @include fluid-attr(min-height, $min-height, $max-height);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-back {
    margin-left: auto;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    @include padding(10px);
  }

  &__content {
    @include margin(0 30px 20px 30px);
    border-bottom: 4px solid $orange;
    &-title {
      @include font-size(40px);
      color: $orange;
    }

    &-image {
      max-width: 100px;
      height: auto;
      width: 100%;
      @include margin-bottom(10px);
    }

    ul {
      @include padding-left(20px);
      @include padding-bottom(20px);
      li {
        list-style-type: disc;
        color: $gray-500;
        transition: color ease-in-out .5s;

        a {
          text-decoration: underline;
          &:hover {
            color: $orange;
            transition: color ease-in-out .5s;
          }
        }
      }
    }

    &-description {
      color: $gray-500;
      font-weight: 100;
      @include margin-bottom(20px);
    }
  }

  &__link {
    @include margin(0 30px);
  }
}
