.track {
  width: 100%;
  position: relative;
  $min-height: 400px;
  $max-height: 725px;
  @include fluid-attr(height, $min-height, $max-height);
  background-color: $gray-500;

  .container-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
