.trustpilot {
  margin: 0;
  @include padding(50px 0 50px 0);

  &-icon {
    width: 100%;
    display: flex;
    @include padding-top(20px);

    img {
      max-width: 200px;
      width: 100%;

      &:first-child {
        @include margin-right(30px);
      }
    }
  }

  .review--layout {
    @include padding(10px 0);

    &:first-child {
      @include padding-top(20px);
      @include padding-bottom(10px);

      @include media-breakpoint-up(sm) {
        @include padding-right(10px);
      }
    }

    &:nth-child(2) {
      @include media-breakpoint-up(sm) {
        @include padding-top(20px);
        @include padding-bottom(10px);
        @include padding-left(10px);
      }
      @include media-breakpoint-up(md) {
        @include padding-right(10px);
      }
    }
    &:nth-child(3) {
      @include media-breakpoint-up(sm) {
        @include padding-right(10px);
      }
      @include media-breakpoint-up(md) {
        @include padding-top(20px);
        @include padding-left(10px);
      }
    }
    &:last-child {
      @include padding-top(10px);
      @include padding-bottom(20px);

      @include media-breakpoint-up(sm) {
        @include padding-left(10px);
      }

      @include media-breakpoint-up(md) {
        padding-left: 0;
        @include padding-right(10px);
      }

      @include media-breakpoint-up(lg) {
        @include padding-left(10px);
        @include padding-top(20px);
      }
    }
  }
  &__review {
    @include padding(20px);
    background-color: $gray-200;

    &-text {
      @include padding(20px 0);
      color: $black;

      h3 {
        @include font-size(20px);
        font-weight: 600;
        line-height: 1.2;
      }
    }

    &-info {
      p {
        color: $gray-500;
        @include font-size(15px);
        font-weight: 100;
        margin: 0;
      }
    }
  }
}
