html,
body {
  padding: 0;
  margin: 0;
  font-family: Calibri, sans-serif;
  @include font-size(17px);
  @include media-breakpoint-up(md) {
    @include font-size(18px);
  }
  @include media-breakpoint-up(xl) {
    @include font-size(19px);
  }
  @include media-breakpoint-up(xxl) {
    @include font-size(20px);
  }
}
button,
input {
  &:focus {
    outline: none;
  }
}

#fade-in-on-scroll {
  opacity: 0;
}

.fade-in-on-scroll {
  opacity: 1 !important;
  transition: opacity ease-in-out .5s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @include font-size(40px);
  line-height: 1.2;
  @include media-breakpoint-up(sm) {
    @include font-size(55px);
  }
  @include media-breakpoint-up(md) {
    @include font-size(60px);
  }
  @include media-breakpoint-up(lg) {
    @include font-size(65px);
  }
  @include media-breakpoint-up(xl) {
    @include font-size(60px);
  }
  @include media-breakpoint-up(xxl) {
    @include font-size(70px);
  }
}

.container-medium {
  @include padding(0 20px);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  //@include media-breakpoint-up(sm) {
  //  @include padding(0 30px);
  //}
  //@include media-breakpoint-up(md) {
  //  @include padding(0 50px);
  //}
  //@include media-breakpoint-up(lg) {
  //  @include padding(0 100px);
  //}
  //@include media-breakpoint-up(xl) {
  //  @include padding(0 120px);
  //}
  //@include media-breakpoint-up(xxl) {
  //  @include padding(0 110px);
  //}
}

.container-large {
  z-index: 100;
  @include padding(0 20px);

  @include media-breakpoint-up(sm) {
    @include padding(0 30px);
  }
  @include media-breakpoint-up(md) {
    @include padding(0 50px);
  }
  @include media-breakpoint-up(lg) {
    @include padding(0 60px);
  }
}
