$gray-200: #EDEDED;
$gray-100: #D8D8D8;
$gray-500: #7F8080;
$gray-400: #979797;
$responsive-min: 320px;
$responsive-max: 1900px;
$black: #000;
$white: #fff;
$orange: #EF7F35;

$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$yellow: #F7D840;
$yellow-light: #F8DF61;

$grid-breakpoints: (
        xs: 0,
        xs-moto-g4: 360px,
        xs-iphone-6-7-8: 375px,
        xs-iphone-6-7-8-plus: 411px,
        xs-surface-duo: 450px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        laptop: 1250px,
        xxl: 1440px,
        xxxl: 1700px,
        desktop: 1900px,
) !default;
